<div *ngIf="selectedCustomer">

  <div class="container p-3 my-3 border">
    <h3>Customer</h3>

    <p class="small">Refreshed at: {{ refreshedAt | date: 'HH:mm:ss' }} </p>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" value="{{selectedCustomer.name}}" readonly>
    </div>
    <div class="form-group">
      <label for="globalId">ID:</label>
      <input type="text" class="form-control" value="{{selectedCustomer.globalId}}" readonly>
    </div>
    <div class="form-group">
      <label for="createdAt">Created At:</label>
      <input type="text" class="form-control" value="{{selectedCustomer.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}" readonly>
    </div>
    <div>
    </div>

    <div class="container p-3 my-3 border">
      <h4>Mobiles</h4>
      <div *ngIf="selectedCustomer.mobiles.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Phone Number</th>
              <th>Created At</th>
              <th>State</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of selectedCustomer.mobiles">
              <td>{{m.phoneNumber}}</td>
              <td>{{m.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{m.state}}</td>
              <td>
                <ng-container *ngIf="getActionState(m) == 'OrderInProgress'">
                  Order in progress: {{getOrderInProgress(m)}}
                </ng-container>
                <ng-container *ngIf="getActionState(m) == 'WaitingForActivate'">
                  <button class="btn btn-primary" (click)="activate(m)">ACTIVATE</button>
                  Activation code: {{activationCodes[m.phoneNumber]}}
                </ng-container>
                <ng-container *ngIf="getActionState(m) == 'Live'">
                  <button class="btn btn-danger" (click)="cease(m)">CEASE</button>
                </ng-container>
                <ng-container *ngIf="getActionState(m) == 'Suspended'">
                  <button class="btn btn-danger" disabled>RESUME</button>
                </ng-container>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="selectedCustomer.mobiles.length == 0">
        No Mobiles found
      </div>
    </div>

    <hr />

    <div *ngIf="!isOrderingMobile">
      <button class="btn btn-primary" routerLink="customers">BACK</button>
      <button class="btn btn-primary" (click)="openOrderMobile()">ORDER MOBILE</button>
      <button class="btn btn-primary" (click)="refresh()">REFRESH</button>
    </div>

    <div *ngIf="isOrderingMobile">
      <div class="container p-3 my-3 border">
        <h4>Order a Mobile</h4>
        <form [formGroup]="orderMobileFormGroup" (ngSubmit)="onSubmit()">
          <div formGroupName="orderMobile" class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <div class="font-weight-bold">
              <label for="phoneNumber">{{chosenPhoneNumber}}</label>
            </div>
            <label for="name">Contact Name:</label>
            <input formControlName="contactName" type="text" class="form-control" id="contactName" placeholder="Enter Contect Name">
            <label for="contactPhoneNumber">Contact Phone Number:</label>
            <input formControlName="contactPhoneNumber" type="text" class="form-control" id="contactPhoneNumber" placeholder="Enter Contact Phone Number">

            <div *ngIf="orderMobileForm.contactName.invalid && (orderMobileForm.contactName.dirty || orderMobileForm.contactName.touched)" class="alert alert-danger">
              <div *ngIf="orderMobileForm.contactName.errors.required">
                Contact Name is required.
              </div>
            </div>
            <div *ngIf="orderMobileForm.contactPhoneNumber.invalid && (orderMobileForm.contactPhoneNumber.dirty || orderMobileForm.contactPhoneNumber.touched)" class="alert alert-danger">
              <div *ngIf="orderMobileForm.contactPhoneNumber.errors.required">
                Contact Phone Number is required.
              </div>
            </div>

          </div>
          <button type="submit" class="btn btn-success">SUBMIT</button>
          <button (click)="cancel()" type="button" class="btn btn-danger">CANCEL</button>
        </form>
      </div>
    </div>

  </div>

</div>
